<main>

    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1836a241-4eba-4c28-80b9-7af58c13dba7/d4pfqs0-0412bbfe-20f5-4889-be03-a71eb46dee66.jpg/v1/fill/w_1024,h_640,q_75,strp/various_games_wallpaper_by_midnightxdreams_d4pfqs0-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjQwIiwicGF0aCI6IlwvZlwvMTgzNmEyNDEtNGViYS00YzI4LTgwYjktN2FmNThjMTNkYmE3XC9kNHBmcXMwLTA0MTJiYmZlLTIwZjUtNDg4OS1iZTAzLWE3MWViNDZkZWU2Ni5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.DbLRNIM98pWHG2qxR0p32uuyiFyoc74GVZ4jc6ReL8g" class="d-block w-100" alt="Promoção de jogos">
                </div>
                <div class="carousel-item">
                    <img src="https://wallpapercave.com/wp/wp7549312.jpg" class="d-block w-100" alt="Promoção do ano">
                </div>
                <div class="carousel-item">
                    <img src="https://wallpaperaccess.com/full/2853510.jpg" class="d-block w-100" alt="Jogo do ano">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </section>

    <h2>Jogos mais comprados</h2>

    <mat-grid-list cols="3">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="https://s2-techtudo.glbimg.com/hZaIZAECMV4ZBuVW8-L7pJtcBFM=/0x0:2133x1600/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2018/n/a/nM7S1mQBOvMtpnlHaEdg/half-life-gordon-freeman.jpg" alt="Half-life">
        
                <mat-card-header>
                  <mat-card-title>Half-life</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                </mat-card-content>
                <mat-card-actions>
                  <p>R$ 20,69</p>
                  <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="https://image.api.playstation.com/cdn/UP1004/CUSA03041_00/Hpl5MtwQgOVF9vJqlfui6SDB5Jl4oBSq.png" alt="Red Dead Redemption 2">
        
                <mat-card-header>
                  <mat-card-title>Red Dead Redemption 2</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  
                </mat-card-content>
                <mat-card-actions>
                  <p>R$ 299,90</p>
                  <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="https://image.api.playstation.com/cdn/UP0700/CUSA03388_00/v8JlD8KcQUtTqaLBmpFnj1ESRR5zMkLk.png" alt="Dark Souls 3">
        
                <mat-card-header>
                  <mat-card-title>Dark Souls 3</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  
                </mat-card-content>
                <mat-card-actions>
                  <p>R$ 229,90</p>
                  <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>

      </mat-grid-list>
      
      

</main>